<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Кнопка</title>
 </head>
 <body> 
   <form style=";" asp-controller="Identification" asp-action="Identification">
       <p><input type="text" id="password" placeholder="Type your e-mail" name="login"></p>
       <p><input type="password" id="password" placeholder="Type your password" name="password"></p>
       <input type="submit" value="Enter">
   </form>
   <form style="display: inline-block;" asp-controller="Registrate" asp-action="Registrate" method="Registrate">
       <input type="submit" value="Back">
   </form>
 </body>
</html>